@charset "UTF-8";
/* --------------------------------------------
 * サイドバー
 * -------------------------------------------- */
.sideBar-pc {
  width: 300px;
  padding: 24px 36px;
  height: 100vh;
  position: fixed;
  background: #fff;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sideBar-pc::-webkit-scrollbar {
  display: none;
}

.sideBar-pc__logo {
  text-align: start;
  margin-bottom: 28px;
}

.sideBar-pc__logo img {
  height: 48px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .sideBar-pc {
    display: none;
  }
}
.navPcList {
  margin-bottom: -24px;
}

.navPcList__link {
  font-size: 20px;
  transition: all 0.3s;
}

.active .navPcList__link {
  color: #ffa065;
}

.active a .navPcList__link:hover {
  opacity: 1;
}

.navPcList__item a:hover {
  opacity: 1;
}

.navPcList__icon {
  width: 22px;
  height: 100%;
  margin-right: 12px;
}

.navPcList__item {
  margin-bottom: 32px;
}

.record-pc {
  margin-top: -32px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

/* --------------------------------------------
 * サイドバー（SP）
 * -------------------------------------------- */
/*下部ナビメニュー*/
.navSpList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 10px 38px 48px;
  border-top: 1px solid #efeae6;
}

.navSpList__item {
  display: flex;
}

.navSpList__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navSpList__icon {
  height: 23px;
  width: auto;
  margin-bottom: 4px;
}

/*記録メニュー開閉ボタン*/
.recordMenuOpenButton-sp {
  position: fixed;
  z-index: 9999;
  right: 18px;
  bottom: 123px;
  width: 64px;
}

.recordMenuOpenButton-sp img {
  max-width: 100%;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.activeMenuName {
  color: #ffa065;
}

/* --------------------------------------------
 * 記録メニュー（PC）
 * -------------------------------------------- */
.record-pc__buttonLink {
  width: 46%;
}

.record-pc__button {
  width: 100%;
  background: #ffa065;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.record-pc__button img {
  height: 26px;
  width: auto;
  margin-bottom: 12px;
}

.record-pc__button:hover {
  opacity: 0.7;
}

.record-pc__space {
  width: 100%;
}

/* --------------------------------------------
 * 記録メニュー（SP）
 * -------------------------------------------- */
.recordButtonWrapper-sp {
  background: #fef6f0;
}

.record-sp {
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 205px;
  overflow: auto;
}

.record-sp--hidden {
  display: none;
}

.record-sp__button {
  flex: 1 1 48%;
  background: #fff;
  border-radius: 7px;
  padding: 18px;
  font-size: 18px;
  color: #ffa065;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f9e2ca;
}

.record-sp__button img {
  height: 40px;
  width: auto;
  margin-bottom: 8px;
}

/* --------------------------------------------
 * SP版ページレイアウト
 * -------------------------------------------- */
.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .SpContentsMargin {
    padding-top: 132px;
    padding-bottom: 206px;
  }
}
.pcItem {
  display: block;
}

@media screen and (max-width: 767px) {
  .pcItem {
    display: none;
  }
}
/* --------------------------------------------
 * ヘッダー（SP）
 * -------------------------------------------- */
.header-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-sp {
    background: #ffa065;
    color: #fff;
    height: 110px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 99999;
  }
}
.header-sp__inner {
  position: relative;
}

.header-sp__item {
  position: absolute;
  top: 74px;
}

.header-sp__heading {
  left: 50%;
  transform: translateX(-50%);
}

.header-sp__button {
  right: 10px;
  top: 68px;
  font-size: 16px !important;
}

/* --------------------------------------------
 * 記録ページ
 * -------------------------------------------- */
.dailySummary {
  margin-bottom: 48px;
}

.dailySummaryList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .dailySummaryList {
    gap: 24px;
  }
}
@media screen and (max-width: 767px) {
  .dailySummaryList {
    gap: 16px;
  }
}
.dailySummaryList__heading {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .dailySummaryList__heading {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .dailySummaryList__heading {
    width: 126px;
    margin-right: 16px;
    gap: 4px;
  }
}
.dailySummaryList__icon {
  max-width: 40px;
}

@media screen and (max-width: 767px) {
  .dailySummaryList__icon {
    max-width: 32px;
  }
}
.dailySummaryList__icon img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.dailySummaryList__title {
  font-size: clamp(18px, 1.8vw, 20px);
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .dailySummaryList__title {
    font-size: 20px;
  }
}
.dailySummaryList__text {
  font-size: clamp(16px, 1.8vw, 26px);
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .dailySummaryList__text {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .dailySummaryList__text {
    font-size: 24px;
  }
}
.dailySummaryList__item {
  width: 23%;
  background: #f9e2ca;
  border-radius: 15px;
  padding: 16px min(3%, 24px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .dailySummaryList__item {
    width: 100%;
    padding: 16px;
  }
}
@media screen and (max-width: 767px) {
  .dailySummaryList__item {
    border-radius: 0;
    flex-direction: row;
  }
}
.conditionList {
  display: flex;
  gap: 2px;
  margin-top: 12px;
}

.conditionList__item {
  max-width: 28px;
}

.conditionList__item img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.dailyLogList__item {
  display: flex;
}

.dailyLogList__item:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .dailyLogList__item {
    background: #fff;
    padding: 20px 18px;
  }
}
.dailyLogList__time {
  font-size: 18px;
  margin-right: 12px;
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  .dailyLogList__time {
    margin-top: 3px;
  }
}
.dailyLogList__box {
  background: #fff;
  width: auto;
  width: 100%;
  padding: 24px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .dailyLogList__box {
    border-radius: 0;
    padding: 0;
  }
}
.dailyLogList__headSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.dailyLogList__contentSide {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dailyLogList__type {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dailyLogList__typeIcon {
  height: 28px;
}

.dailyLogList__typeIcon img {
  max-height: 100%;
}

.dailyLogList__typeText {
  font-size: 18px;
}

.dailyLogList__detail {
  font-size: 18px;
  color: #9c9c9c;
}

.dailySummaryList__medicineItem:not(:last-child) {
  margin-bottom: 4px;
}

.dailyLogList__editSide {
  display: flex;
  align-items: center;
}

.dailyLogList__image {
  max-width: 382px;
  overflow: hidden;
}

.dailyLogList__image img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
}

.dailyLogList__editButton {
  width: 18px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.dailyLogList__editButton img {
  max-width: 100%;
}

.dailyLogList__editButton:hover {
  opacity: 0.7;
}

/* --------------------------------------------
 * モーダル（記録ページ）
 * -------------------------------------------- */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

/* モーダルを閉じるボタン */
.modal__exitButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: auto;
  z-index: 999;
}

/* モーダルのスタイル */
.modal__contentWrap {
  position: relative;
  width: 600px;
  border-radius: 20px;
  background: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px 32px 32px;
  overflow-y: auto;
  max-height: calc(100vh - 36px);
}

@media screen and (max-width: 767px) {
  .modal__contentWrap {
    margin: 0 16px;
    padding: 20px 16px 16px 16px;
    max-height: calc(100vh - 253px);
  }
}
.modal__content {
  overflow: auto;
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}

.modal__content::-webkit-scrollbar {
  width: 0px;
}

.modal__content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.modal__inner {
  border-radius: 20px;
  background: #fff;
  text-align: left;
  position: relative;
}

/* モーダルの内容 */
.modalList {
  width: 100%;
  position: relative;
}

.modalList__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.modalList__heading {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.modalList__inputField {
  width: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.modalList__inputField:hover {
  cursor: pointer;
}

.modalList__selectType {
  width: 100%;
}

.modalList__selectType:hover {
  cursor: pointer;
}

.modalList__inputSelect {
  position: relative;
}

.modalList__inputSelect::after {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #9c9c9c;
  border-bottom: 2px solid #9c9c9c;
  transform: rotate(45deg);
  pointer-events: none;
}

.modalList__inputFieldText {
  margin-left: 4px;
}

/*入力欄*/
input {
  width: 100%;
  width: 128px;
}

.styledInputField {
  padding: 8px 12px;
  background: #f4f4f3;
  border-radius: 8px;
}

.memoInputField {
  width: 100%;
  height: 248px;
}

.fullWidthInputField {
  width: 100%;
}

.tallInputField {
  width: 100%;
  height: 124px;
}

::-moz-placeholder {
  color: #9c9c9c;
}

::placeholder {
  color: #9c9c9c;
}

.recordDate--year {
  width: 100px;
}

.recordDate--month,
.recordDate--day {
  width: 50px;
  margin-left: 12px;
}

.recordTime--hour,
.recordTime--minute {
  width: 50px;
}

.recordTime--minute {
  margin-left: 12px;
}

.heartContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.heart {
  width: 36px;
  height: 30px;
  cursor: pointer;
}

/*画像添付ボタン*/
.attachment__label {
  display: inline-block;
  position: relative;
  background: #f4f4f3;
  color: #9c9c9c;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.3s;
  border: 1px solid #9c9c9c;
  margin-right: 8px;
}

.attachment__label:hover {
  background: #ddd;
}

.fileInput {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.filename {
  font-weight: 16px;
  margin-left: 10px;
}

/*削除、決定ボタン*/
.modalButton__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .modalButton__wrap {
    flex-direction: column-reverse;
  }
}
.modal__button {
  width: 48%;
}

@media screen and (max-width: 767px) {
  .modal__button {
    width: 100%;
  }
}
/* --------------------------------------------
 * 体重グラフページ
 * -------------------------------------------- */
.graphPage__headingWrap {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .graphPage__headingWrap {
    flex-direction: column;
    align-items: start;
  }
}
.graphPage__heading {
  margin-right: 28px;
}

@media screen and (max-width: 1024px) {
  .graphPage__heading {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
.graphPage__buttonWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.graphPage__button {
  padding: 8px 20px;
  font-size: 18px;
}

/* --------------------------------------------
 * 登録情報ページ
 * -------------------------------------------- */
@media screen and (max-width: 767px) {
  .SpContentsMargin--infoPage {
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 767px) {
  .infoPage {
    padding-right: 18px;
    padding-left: 18px;
  }
}
.infoPage__headingWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoPage__button {
  font-size: 16px !important;
  padding: 6px 20px !important;
  margin-bottom: 18px;
}

.infoPageList {
  margin-bottom: -40px;
}

.infoPageList__item {
  margin-bottom: 40px;
}

.infoPageInner {
  border-radius: 10px;
  background: #fff;
  padding: 8px 32px 32px;
}

@media screen and (max-width: 767px) {
  .infoPageInner {
    padding: 8px 24px 24px;
  }
}
.infoPageInner--memo {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .infoPageInner--memo {
    padding-top: 0;
  }
}
.infoPageInner__item {
  padding: 24px 0;
  display: flex;
  border-bottom: 1px solid #efeae6;
}

@media screen and (max-width: 767px) {
  .infoPageInner__item {
    padding: 16px 0;
    flex-direction: column;
  }
}
.infoPageInner__item--memo {
  border-bottom: none;
}

.infoPageInner__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .infoPageInner__item--image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: none;
  }
}
@media screen and (max-width: 767px) {
  .infoPageInner__item--image dt {
    display: none;
  }
}
.infoPageInner__heading {
  width: 30%;
  max-width: 210px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 16px;
}

.infoPageInner__content {
  width: 70%;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .infoPageInner__content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .infoPageInner__heading {
    max-width: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.infoPageInner__image {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  overflow: hidden;
}

.infoPageInner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__subHeading--infoPage {
  margin-bottom: 0;
}

.infoPage__subHeadingWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoInputRow {
  display: flex;
  align-items: center;
}
.infoInputRow:not(:last-child) {
  margin-bottom: 24px;
}

.infoInputRow label {
  margin-right: 12px;
}

.infoFoodList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* --------------------------------------------
 * モーダル（登録情報ページ）
 * -------------------------------------------- */
.petBirthYearInputField {
  width: 100px;
  margin-right: 6px;
}

.petBirthMonthInputField,
.petBirthDateInputField {
  width: 50px;
  margin-left: 12px;
  margin-right: 6px;
}

.modalList__item--info {
  margin-bottom: 24px;
}
.modalList__item--info:last-child {
  margin-bottom: 32px;
}

/* --------------------------------------------
 * カレンダーページ
 * -------------------------------------------- */
.calendarPage {
  max-width: 1200px;
  margin: 0 auto;
}

.calendarPage__heading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.calendarPage__heading img {
  height: 20px;
  width: auto;
  margin-top: 4px;
  transition: all 0.3s;
}

.calendarPage__heading img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.calendarPage__heading img:first-of-type {
  margin-right: 28px;
}

.calendarPage__heading img:last-of-type {
  margin-left: 28px;
}

@media screen and (max-width: 767px) {
  .SpContentsMargin--calendarPage {
    padding-top: 120px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .calendarPage__container {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
  }
}
/*カレンダー*/
.weekdays,
.dates {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  flex-grow: 1;
}

.weekday,
.date {
  flex: 1 0 14.28%;
  border-bottom: 1px solid #efeae6;
}
.weekday:nth-last-child(-n+7),
.date:nth-last-child(-n+7) {
  border-bottom: none;
}

.weekday {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .weekdays {
    flex: 0 0 auto;
  }
  .dates {
    flex-grow: 1;
  }
}
.weekday.sunday,
.date.sunday {
  color: #ff3d67;
}

.weekday.saturday,
.date.saturday {
  color: #3b88ff;
}

.date {
  background: #fff;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 108px;
}

.date.today {
  background-color: #f9e2ca;
}
/*# sourceMappingURL=style.css.map */